html {
  font-family: Montserrat, sans-serif;
  background-color: #FAFAFA;
}

h1, h2, h3, h4, h5 {
  font-family: Raleway, sans-serif;
}

/* Header */

header {
  background-color: #f05581;
  max-height: 100px;
  margin: 0;
}

.logo {
  color: #fdf100;
}

.nav {
  color: #fff;
  font-family: Raleway, sans-serif;
}

.current {
  text-decoration: underline;
}

.signup-btn {
  color: #f05581;
  font-family: Raleway, sans-serif;
  background-color: #fff;
  border: 0px;
  border-radius: 20px;
  padding-left: 2em;
  padding-right: 2em;
}

.signup-btn:hover {
  background-color: #F3A71D;
  color: #fff;
}

/* Header End */
/*
Banner */

.vid {
  display: none;
}

.banner-card {
  background-color: #F4A1AF;
  color: #fff;
  border: 3px;
  max-width: 30em;
}

.signup-btn-2 {
  font-family: Raleway, sans-serif;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  color: #f05581;
  padding-left: 4em;
  padding-right: 4em;
}

.signup-btn-2:hover {
  background-color: #F3A71D;
  color: #fff;
  border: 3px solid #F3A71D;
}

.login {
  color: #fff;
}

.login:hover {
  color: #000;
}

.vid-ab {
  position: absolute;
  }

.content-rel{
  position: relative;
}
/* Tour Section */

.products, .services {
  max-width: 30em;
  max-height: 50em;
}

/* Testimonials */

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards li {
  display: inline-block;
  margin: 0 .5em 1em;
  max-width: 16em;
  padding: 1em;
  background-color: #fff;
  border: 3px solid #F4A1AF;
  border-radius: 10px;
  text-align: left;
}


@media only screen and (min-width: 25em) {

  .vid {
    display: block;
  }
