html {
  font-family: Montserrat, sans-serif;
  background-color: #fafafa;
}

header {
  background-color: #f05581;
  position: relative;
  display: flex;
  z-index: 2;
}

h1, h2, h3, h4, h5 {
  font-family: Raleway, sans-serif;
}

h1 {
  display: inline-block;
  color: #fff;
  margin: 0;
}

.current {
  text-decoration: underline;
}

.current-2 {
  color: #fff;
  text-decoration: underline;
}

.nav {
  /* margin: 0;
  padding: 0;
  list-style-type: none; */
  background-color: #f05581;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 15em;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.signup-btn {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 2em;
}

.nav a {
  color: #fff;
  display: block;
  padding: .5em;
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

.nav a:hover {
  background-color: #4f5eab;
  border: 1px solid #4f5eab;
  border-radius: 5px;
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 1em;
  margin-bottom: .5em;
  background-image: url("../images/nav-icon.png");
  background-size: 40px auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #f05581;
  background-position: center bottom;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

/* Video Banner */

.vid {
  display: none;
}

.banner-card {
  background-color: #db7094;
  color: #000;
  border: 3px;
  max-width: 30em;
  z-index: 1;
}

.signup-btn-2 {
  font-family: Raleway, sans-serif;
  background-color: #000;
  border: 3px solid #000;
  border-radius: 20px;
  color: #fff;
  padding: 0 2em;
}

.signup-btn-2:hover {
  color: #fff;
  background-color: #4f5eab;
  border: 3px solid #4f5eab;
}

.login {
  color: #000;
}

.login:hover {
  color: #4f5eab;
}

.vid-ab {
  position: absolute;
}

.content-rel {
  position: relative;
}

/* Tour Section */

.tour-jump-btn a {
  color: #fff;
  text-decoration: none;
  background-color: #db7094;
  border: 1px solid #db7094;
  border-radius: 20px;
  padding: 0 .75em;
  margin: 0;
}

.tour-jump-btn a:hover {
  color: #fff;
  background-color: #f3a71d;
  border: 1px solid #f3a71d;
}

.products, .services {
  max-width: 30em;
  max-height: 50em;
}

/* Testimonials */

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards li {
  display: inline-block;
  margin: 0 .5em 1em;
  max-width: 16em;
  padding: 1em;
  background-color: #fff;
  border: 3px solid #f4a1af;
  border-radius: 10px;
  text-align: left;
}

.test-name {
  color: #f05581;
}

/* Newsletter */

.email-form {
  width: 100%;
}

legend {
  font-family: Raleway, sans-serif;
  color: #000;
}

fieldset {
  border: 0;
}

.signup-btn-3 {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
}

.signup-btn-3:hover {
  color: #fff;
  background-color: #4f5eab;
  border: 1px solid #4f5eab;
  border-radius: 5px;
}

/* Footer */

footer {
  color: #000;
  background-color: #f05581;
}

footer li {
  padding: .5em 1em;
  display: inline;
  text-align: left;
}

footer li a {
  color: #fff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

footer li a:hover {
  color: #000;
}

footer h2 {
  color: #fff;
}

/* Form */

.form-subtitle {
  color: #000;
}

.form-indent {
  padding-left: 20px;
}

.form-btn {
  color: #fff;
  background-color: #db7094;
  border: 1px solid #db7094;
  border-radius: 10px;
  padding: .5em 2em;
}

.form-btn:hover {
  background-color: #f3a71d;
  border: 1px solid #f3a71d;
}

/* Tour Page */

.tour-banner {
  max-height: 800px;
  display: none;
}

table {
  width: 100%;
  height: auto;
}

thead {
  display: none;
}

tr {
  display: flex;
  flex-direction: column;
}

td {
  border-bottom: 0;
}

caption {
  color: #000;
}

.product-title {
  color: #4f5eab;
}

.tour-quote {
  display: none;
}

@media only screen and (min-width: 24em) {

  .banner-card {
    border-radius: 10px;
  }

  .vid {
    display: inline-block;
  }

  tbody {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .col-1 {
    max-width: 15em;
  }

  .col-2 {
    max-width: 20em;
  }

}

@media only screen and (min-width: 38em) {

  footer li {
    display: block;
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .nav-open, .nav-close {
    display: none;
  }

  header {
    padding-bottom: 0;
  }

  .nav-check,
  .nav-label {
    display: none;
  }

  .nav {
    display: inline;
    position: static;
  }

  .nav ul {
    display: inline;
    flex-wrap: nowrap;
  }

  .nav li {
    display: inline-block;
  }

  /* Banner */

  .vid {
    display: inline-block;
  }

  .tour-banner {
    display: block;
  }

  .tour-quote {
    display: inline;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    color: #4f5eab;
  }

}
